@import 'nib'

@require './node_modules/lever-open-styles'

@require './node_modules/l-progress'
 
.list
  li
    font-size: 25px
    margin: 10px
    padding: 10px
    a
      color: black
    a:hover
      color: blue