@import 'nib'

//redefine some lever colors with named CSS colors
accentBlue = blue
grayMedium = gainsboro
tealLight = deepskyblue

@require './node_modules/l-progress'
 
.list
  li
    font-size: 25px
    margin: 10px
    padding: 10px
    a
      color: black
    a:hover
      color: blue